* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formulario {
  background-color: rgba(20, 18, 18, 0.582);
  max-width: 800px;
  margin: 20px auto;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.808);
  padding: 30px;
  margin-bottom: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 60px;
  grid-template-areas: "zona1    zona1" "zona2    zona3" "zona4    zona5" "zona6    zona6" "zona7    zona7";
  box-shadow: -1px 0px 7px 4px rgba(255, 255, 255, 0.46) inset;
  -webkit-box-shadow: -1px 0px 7px 4px rgba(255, 255, 255, 0.46) inset;
  -moz-box-shadow: -1px 0px 7px 4px rgba(255, 255, 255, 0.46) inset;
}
@media (max-width: 800px) {
  .formulario {
    width: 100vw;
    margin: 0px 0px 20px 0px;
    border-radius: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: "zona1" "zona2" "zona3" "zona4" "zona5" "zona6" "zona7";
  }
}
.formulario h2:nth-child(1) {
  grid-area: zona1;
}
.formulario label:nth-child(2) {
  grid-area: zona2;
}
.formulario label:nth-child(3) {
  grid-area: zona3;
}
.formulario label:nth-child(4) {
  grid-area: zona4;
}
.formulario label:nth-child(5) {
  grid-area: zona5;
}
.formulario label:nth-child(6) {
  grid-area: zona6;
}
.formulario button:nth-child(7) {
  grid-area: zona7;
  width: 200px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: rgba(189, 42, 42, 0.918);
  margin-top: 20px;
}
.formulario label {
  display: flex;
  flex-direction: column;
}
.formulario label input, .formulario .formulario label textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  margin-top: 10px;
  outline: none;
  color: white;
}

.btn2 {
  background-color: rgba(33, 35, 36, 0.733);
  border: none;
  color: white;
  font-size: large;
  height: 45px;
  z-index: 1;
  margin: 10px;
}
.btn2 .i {
  margin-left: 20px;
}

.iconos {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 50px;
  color: rgb(197, 49, 49);
}

.contenedor-data {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(95, 113, 133);
}
.contenedor-data > h6 {
  text-align: center;
}

.historial {
  margin: 10px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .historial {
    justify-content: space-evenly;
  }
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  background: #6E6D70;
  color: #DFDEDF;
  height: 40px;
}

.btnReset2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnReset2 > .btnReset {
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  background: #6E6D70;
  color: #DFDEDF;
  height: 40px;
}

.cold {
  color: rgb(237, 100, 214);
}

.warm {
  color: brown;
}/*# sourceMappingURL=style.css.map */